@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

body {
  background-color: #2e2e2e;
  background-image: url('https://www.transparenttextures.com/patterns/white-wall-3.png');
  background-repeat: repeat;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
   font-family: 'Poppins', sans-serif;
   color: #fff;
}

header {
  background-color: #333;
  padding: 1rem;
}

nav {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

nav button {
  background-color: #555;
  color: white;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
}

nav button:hover {
  background-color: #777;
}


.panel {
 background-color: #1c1c1c;        /* black/dark background */
  color: #fff;              /* white text */
  padding: 20px;
  margin: 15px auto;
  border-radius: 8px;
  max-width: 600px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
  min-height: 100px;
}

h2 {
  margin-top: 0;
  text-align: center;
  font-weight: 600;
  font-size: 1.5rem;
  margin-bottom: 10px;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  padding: 4px 0;
  font-weight: 900;
  text-align: center;
  font-family: 'Poppins', sans-serif;

}

p {
  text-align: center;
  font-weight: 900;
  font-size: 1rem;
}